DATABASE_URL=''
SMTP_HOST=''
SMTP_FROM=''
SMTO_PASSWORD=''
SMTP_PORT=587
AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
GEMINI_API_KEY=''
GEMINI_MODEL='gemini-3.1-flash-lite-preview'